name: Test-CPU

on:
  push:
    branches:
      - master
    paths-ignore:
      - "docs/**"
      - "*.md"
      - "*.rst"

  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
      - "*.rst"

  workflow_dispatch:

jobs:
  main:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10"] # ["3.7", "3.8", "3.9", "3.10"]
        torch-version: ["1.12.1", "1.13.0"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch==${{ matrix.python-version }}+cpu -f https://download.pytorch.org/whl/torch_stable.html
          pip install pytest pytest-cov codecov

      - name: Unittests with pytest
        run: pytest -svv --cov=./src --cov-report=term-missing

      # Coverage does not work for private repos
      - name: Upload coverage to Codecov
        run: codecov
